---
name: Docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - name: Create a requirement.txt
        run: |
          echo 'mkdocs==1.2.3' > requirements.txt
          echo 'jinja2==3.0.0' >> requirements.txt
          echo 'mkdocstrings==0.16.2' >> requirements.txt
          echo 'mkdocs-macros-plugin==0.6.0' >> requirements.txt
          echo 'matplotlib==3.3.1' >> requirements.txt
          echo 'regex==2023.6.3' >> requirements.txt
          echo '.' >> requirements.txt

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@a31c6b13a80e4a4fbb525eeb7a2a78253bb15fa5
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_DOCS }}
          CONFIG_FILE: mkdocs.yml
